* {
  /*remove default margin and padding from all elems*/
  margin: 0px; 
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 100%;
  background-color: #1F2937;
  display: flex;
  flex-direction: column;
  padding: 0px 140px;
}

.nav-bar {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 24px;
  font-weight: bold;
  color: #F9FaF8;

}

.links {
  font-size:14px;
  color: #E5E7EB;
  list-style-type: none;
  display: flex;
  gap: 16px;
}

.links a{
  text-decoration: none;
}

.hero-main {
  padding: 120px 0px;;
  display: flex;
  gap: 40px;
}

.hero-main div {
  min-height: 200px;
  flex: 1;
}

.hero-main .left {
  display: flex;
  flex-wrap: wrap;
}


.hero-main .left h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FaF8;
}

.hero-main .left p{
  font-size: 16px;
  color: #E5E7EB;
  margin-bottom: 8px;;
}

.hero-main .left button {
  background-color: #3882F6;
  color: #F9FaF8;
  font-weight: bolder;
  padding: 6px 24px;
  border: none;
  border-radius: 5px;
}

.hero-main .right {
  background-color: grey;
  color: #F9FaF8;
  display: flex;
  justify-content: center;
  align-items: center;
}